# Python Practice by Abdul Hanan Nawaz

# Question Source https://codeanddebug.in/

# Write a program that takes two numbers as input from the user and then prints the sum of these numbers.

In [3]:
num1 = int(input("Enter Number One = "))
num2 = int(input("Enter Number Two = "))

print(f"sum of {num1} and {num2} is {num1+num2}")

Enter Number One =  1
Enter Number Two =  3

sum of 1 and 3 is 4

# Write a Program that takes Length and Breadth as input from user and print the Area of Rectangle.

In [7]:
length = int(input("Enter Length of Rectnagle = "))
width = int(input("Enter Width of Rectnagle = "))

print(f"Area of Rectangle is {length*width}")

Enter Length of Rectnagle =  2
Enter Width of Rectnagle =  3

Area of Rectangle is 6

# Ask 3 numbers from User and Calculate the Average.

In [18]:
num1, num2, num3 = int(input("Enter Number 1 = ")), int(input("Enter Number 2 = ")), int(input("Enter Number 3 = "))  

print("Average of %d, %d and %d is %.2f" % (num1, num2, num3, (num1 + num2 + num3) / 3))

Enter Number 1 =  2
Enter Number 2 =  3
Enter Number 3 =  5

Average of 2, 3 and 5 is 3.33

# Calculate sum of 5 subjects and Find percentage. / Ask marks in 5 subjects and calculate Total Marks and Find percentage.

In [11]:
#Total marks will be 100
sub1, sub2, sub3, sub4, sub5 = int(input("Enter Obt. Marks in Subject 1: ")), int(input("Enter Obt. Marks in Subject 2: ")), int(input("Enter Obt. Marks in Subject 3: ")), int(input("Enter Obt. Marks in Subject 4: ")), int(input("Enter Obt. Marks in Subject 5: "))

sum = (sub1 + sub2 + sub3 + sub4 + sub5)
percentage = ((sub1 + sub2 + sub3 + sub4 + sub5) * 100 ) / 500

print(f"Total Obtained marks are {sum}, Whereas the Percentage is {percentage}%.")

Enter Obt. Marks in Subject 1:  89
Enter Obt. Marks in Subject 2:  90
Enter Obt. Marks in Subject 3:  92
Enter Obt. Marks in Subject 4:  67
Enter Obt. Marks in Subject 5:  84

Total Obtained marks are 422, Whereas the Percentage is 84.4%.

# Ask value in Rupees and Convert into Paise.

In [13]:
amount = int(input("Enter amount in PKR: "))

print(f"Paisa's in PKR {amount} are {amount * 100} paisa's.")

Enter amount in PKR:  1

Paisa's in PKR 1 are 100 paisa's.

# Calculate Area of Square by taking Length from User.

In [ ]:
side_length = int(input("Enter side length of square:  "))

print(f"Area of Square is {side_length ** 2}")

# Ask number of games played in a tournament. Ask the user number of games won and number of games loss. Calculate number of tie and total Points. (1 win= 4 points, 1 tie =2 points)

In [17]:
no_of_games_played = int(input("Enter number of games: "))
no_of_games_won = int(input("Enter number of games won: "))
no_of_games_lost = int(input("Enter number of games lost: "))

no_of_games_tie = no_of_games_played - (no_of_games_won + no_of_games_lost)
total_points = (no_of_games_won * 4) + (no_of_games_tie * 2)

print(f"Total number of games end up being a tie are {no_of_games_tie} and Total points are {total_points}")

Enter number of games:  8
Enter number of games won:  4
Enter number of games lost:  1

Total number of games end up being a tie are 3 and Total points are 22

# Take two numbers as input from User and print which one is greater or are they equal.

In [5]:
num1 = int(input("Enter Number 1: "))
num2 = int(input("Enter Number 2: "))

if num1 == num2:
    print(f"{num1} is equal to {num2} (All Equal)")
elif num1 > num2:
    print(f"{num1} is greater than {num2} (Number 1)")
else:
    print(f"{num2} is greater than {num1} (number 2)")

Enter Number 1:  2
Enter Number 2:  2

2 is equal to 2 (All Equal)

# Take three numbers as input from User and print which one is greater or are they equal.

In [6]:
num1 = int(input("Enter Number 1: "))
num2 = int(input("Enter Number 2: "))
num3 = int(input("Enter Number 3: "))

if num1 == num2 == num3:
    print(f"{num1} is equal to {num2} and {num3} (All Equal)")
elif num1 > num2 > num3:
    print(f"{num1} is greater than {num2} and {num3} (Number 1)")
elif num2 > num3 > num1:
    print(f"{num2} is greater than {num3} and {num1} (Number 2)")
else:
    print(f"{num3} is greater than {num1} and {num2} (Number 3)")

Enter Number 1:  5
Enter Number 2:  5
Enter Number 3:  5

5 is equal to 5 and 5 (All Equal)

# Take Salary as input from User and Update the salary of an employee (a) salary less than 10,000, 5 % increment (b) salary between 10,000 and 20, 000, 10 % increment (c) salary between 20,000 and 50,000, 15 % increment (d) salary more than 50,000, 20 % increment

In [10]:
salary = int(input("Enter your salary: "))

if salary < 10000:
    print(f"you got 5% increment, your salary now is {(salary + ((5 * salary) / 100))}")
elif salary >= 10000 and salary < 20000:
    print(f"you got 10% increment, your salary now is {(salary + ((10 * salary) / 100))}")
elif salary >= 20000 and salary < 50000:
    print(f"you got 15% increment, your salary now is {(salary + ((15 * salary) / 100))}")
else: 
    print(f"you got 20% increment, your salary now is {(salary + ((20 * salary) / 100))}")

Enter your salary:  60000

you got 20% increment, your salary now is 72000.0

# Ask the number from User and print whether the number is Odd or Even.

In [12]:
user_number = int(input("Enter your Number to check whether the number is even or odd: "))

if user_number % 2 == 0:
    print(f"The Number {user_number} is even.")
else:
    print(f"The Number {user_number} is odd.")

Enter your Number to check whether the number is even or odd:  8

The Number 8 is even.

# A school has following rules for grading system: (a) Below 25 - F (b) 25 to 45 - E (c) 45 to 50 - D (d) 50 to 60 - C (e) 60 to 80 - B (f)  80 or Above 80 – A -> Ask user to enter marks and print the corresponding grade.

In [ ]:
marks = int(input("Enter your marks for grading: "))

if marks < 25:
    print("Your grade is 'F'")
elif marks >= 25 and marks < 45:
    print("Your grade is 'E'")
elif marks > 45 and marks < 50:
    print("Your grade is 'D'")
elif marks > 50 and marks < 60:
    print("Your grade is 'C'")
elif marks > 60 and marks < 80:
    print("Your grade is 'B'")
else:
    print("Your grade is 'A'")

# A student will not be allowed to sit in exam if his/her attendance is less than 75%. (a) Take following input from user (i) Number of classes held (ii) Number of classes attended. (b) Print percentage of class attended (c) Print Is student is allowed to sit in exam or not.

In [ ]:
no_of_classes_held, no_of_classes_attended = int(input("Enter number of classes held: ")), int(input("Enter number of classes attended: "))

percentage_of_attendance = no_of_classes_attended * 100 / no_of_classes_held

if percentage_of_attendance > 75:
    print(f"Your attendance percentage is {percentage_of_attendance} and You are allowed to sit in exam.")
else:
    print(f"Your attendance percentage is {percentage_of_attendance} and You are not allowed to sit in exam.")

# Calculate the purchase amount after deduction criteria on printed price (a) printed price between 500 and 1000, allow 5% discount (b) printed price between 1000 and 5000, allow 10% discount (c) printed price between 5000 and 10000, allow 15% discount (d) printed price more than 10000, allow 20% discount.

In [20]:
price = int(input("Enter the price: "))

if price > 500 and price < 1000:
    print(f"you got 5% discount, Purchase Amount now is {(price - ((5 * price) / 100))}")
elif salary >= 1000 and salary < 5000:
    print(f"you got 10% discount, Purchase Amount now is {(price - ((10 * price) / 100))}")
elif salary >= 5000 and salary < 10000:
    print(f"you got 15% discount, Purchase Amount now is {(price - ((15 * price) / 100))}")
elif salary > 10000:
    print(f"you got 20% discount, Purchase Amount now is {(price - ((20 * price) / 100))}")

Enter the price:  8000

you got 20% discount, Purchase Amount now is 6400.0

# String Slicing

In [32]:
name = "Abdul Hanan Nawaz"
# print(name[-18:])
# print(name[1:16:3])

Abdul Hanan Nawaz

# Print first 10 Natural numbers.

In [1]:
count = 0
while count <= 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10

# Print all the even numbers from 1 to 100.

In [3]:
count = 0

while count <= 100:
    if count % 2 == 0:
        print(count)
    count = count + 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Find sum of N numbers where N is input from User.

In [11]:
number = int(input("Enter the Number you want sum of: "))

count = 0
sum = 0

while count < number:
    count = count + 1
    sum = sum + count
    
print(f"Sum of first {number} numbers are {sum}")

Enter the Number you want sum of:  10

Sum of first 10 numbers are 55

# Check whether number entered by User is Prime or Not.

In [10]:
number = int(input("Enter the Number you want to check, it is prime or not? : "))

count = 2

while count < number:
    if number % count == 0:
        print(f"The number {number} is not prime number")
        break
    if count == number - 1 and number % count != 0:
        print(f"The number {number} is prime number")
    count += 1

# bad code technique, don't use condition statements inside the loop until, needed

Enter the Number you want to check is prime or not? :  17

The number 17 is prime number

#  Check whether number entered by User is Armstrong or not.

In [17]:
number = input("Enter the Number you want to check, it is Armstrong or not? : ")
count = 0
sum = 0

while count < len(number):
    sum += int(number[count]) ** len(number)
    count += 1

if sum == int(number):
    print(f"The number {number} is Amstring Number")
else:
    print(f"The number {number} is not Amstring Number")

Enter the Number you want to check, it is Armstrong or not? :  54748

The number 54748 is Amstring Number

# Find Factorial of a number entered by User.

In [27]:
number = int(input("Enter the Number you want to get factorial of : "))

factorial_of_num = 1
count = number

while count > 1:
    factorial_of_num *=  count
    count -= 1

print(f"Factorial of {number} is {factorial_of_num}")

Enter the Number you want to get factorial of :  3

Factorial of 3 is 6

# Print the first 10 multiples of a number entered by User.

In [28]:
number = int(input("Enter the Number you want to get first 10 mutiples of : "))

count = 1

while count <= 10:
    print(f"{number} x {count} = {count * number}")
    count += 1

Enter the Number you want to get first 10 mutiples of :  10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Count the number of digits in a number that is entered by User.

In [30]:
number = int(input("Enter the Number of digits in a number : "))
number_ = number 
count = 0

while number > 0:
    count += 1
    number //= 10

print(f"The digits in {number_} are {count}")

Enter the Number of digits in a number :  89076

The digits in 89076 are 5

# Write a Program to Reverse a number

In [32]:
number = int(input("Enter the Number of to get reverse of a number : "))

number_ = number 
reverse_number = 0

while number > 0:
    last_digit = number % 10
    reverse_number = reverse_number * 10 +  last_digit
    number //= 10

print(f"The reverse of {number_} are {reverse_number}")

Enter the Number of to get reverse of a number :  8976

The reverse of 8976 are 6798

# Print first 10 Natural numbers.

In [2]:
for i in range(1,11):
    print(f"{i}")

1
2
3
4
5
6
7
8
9
10

# Print all the even numbers from 1 to 100.

In [5]:
for i in range(1,101):
    if i % 2 == 0:
        print(f"{i}")

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Find sum of N numbers where N is input from User.

In [8]:
user_input = int(input("Enter the number : "))
sum = 0

for i in range(0,user_input + 1):
    sum += i

print(sum)

Enter the number :  2

3

# Check whether number entered by User is Prime or Not.

In [ ]:
user_input = int(input("Enter the number : "))
is_prime = True

for i in range (2, user_input):
    if user_input % i == 0 :
        is_prime = False
        break

if is_prime:
    print(f"{user_input} is prime number.")
else:
    print(f"{user_input} is not prime number.")

# Check whether number entered by User is Armstrong or not.

In [21]:
user_input = input("Enter the number : ")
digits_user_input = len(user_input)
sum = 0

for i in range(0, digits_user_input):
    sum += int(user_input[i]) ** digits_user_input

if sum == int(user_input):
    print(f"{user_input} is Armstrong Number")
else:
    print(f"{user_input} is not Armstrong Number")

Enter the number :  1634

1634 is Armstrong Number

# Print multiplication table of a number entered by user.

In [23]:
user_input = int(input("Enter the number : "))

for i in range(1,11):
    print(f"{user_input} x {i} = {user_input * i}")

Enter the number :  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Program to display all the prime numbers within a range.

In [39]:
start = int(input("Enter the starting point : "))
end = int(input("Enter the ending point : "))
is_prime = True
for i in range (start, end + 1):
    is_prime = True
    for j in range (2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i)

Enter the starting point :  1
Enter the ending point :  10

1
2
3
5
7

 # Making Pattern
 # *
 # * *
 # * * *
 # * * * *
 # * * * * *

In [45]:
for i in range (1, 6):
    for j in range (0 , i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

 # Making Pattern
 # 1
 # 1 2
 # 1 2 3
 # 1 2 3 4
 # 1 2 3 4 5

In [55]:
for i in range (1, 6):
    for j in range (1, i + 1):
        print(j, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

 # Making Pattern
 # 5
 # 5 4
 # 5 4 3
 # 5 4 3 2
 # 5 4 3 2 1

In [61]:
for i in range (5, 0, -1):
    for j in range (5, i-1, -1):
        print(j, end= " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

# Making Pattern
 # 5 5 5 5 5
 # 4 4 4 4
 # 3 3 3
 # 2 2 
 # 1

In [62]:
for i in range (5, 0, -1):
    for j in range (0, i):
        print(i, end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

 # Making Pattern (opposite side)
 #         1
 #       2 1
 #     3 2 1
 #   4 3 2 1
 # 5 4 3 2 1

In [78]:
for i in range (1, 6):
    print(" " * (5 - i), end = "" )
    for j in range(i, 0, -1):
        print(j, end="")
    print()

    1
   21
  321
 4321
54321

 # Making Pattern (opposite side)
 #         5
 #       4 5
 #     3 4 5
 #   2 3 4 5
 # 1 2 3 4 5

In [84]:
for i in range (5, 0, -1):
    print(" " * (i - 1), end = "" )
    for j in range(5, i-1, -1):
        print(j, end="")
    print()

    5
   54
  543
 5432
54321

# Write a program to display following Output
# a. 1 2 3 4 5 6 7 8 9 10
# b. 2 4 6 8 10 12 1416 18 20
# c. 3 6 9 12 15 18 21 24 27 30
# d. 4 8 12 16 20 24 28 32 36 40 
# e. 5 10 15 20 25 30 35 40 45 50

In [85]:
for i in range (1, 6):
    for j in range (1, 11):
        print(i * j, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50